<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style >
        .bodyData {
            margin-top: 10px;
            height: 400px;
            width: 600px;
            margin-left: 2vw;
        }
        .heading {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }
        .textBody {
            color: grey;
        }
        .bottomText {
            margin-top: 100px;
            font-weight: bold;
            color: grey;
        }   
    </style>
</head>

<body>
    <div class="bodyData">
        <div class="heading"> Propagate</div>
        <h3>Hey {{.UserName}},</h3>
        <div class="textBody">You have requested to change you password. Kindly <a href="{{.ConfirmEmailUrl}}">Click here</a> to confirm your email address.<br/>
        <br/>
        <h4>If you haven't requested password change, you can <a href="{{.DeactivateAccountUrl}}">deactive your account</a>.</h4>
        
        </div>
        <div class="bottomText">
        Best, <br/>
        Propagate Support
        </div>
    </div>    
</body>

</html>